<h1>About us</h1>
<p>Learn more about our brand!</p>
<br>
<p>This is Kwaku's first ruby page. The information is rudimentary, but just be
  aware that this will be the beginning of Kwaku's experience and will be fun
  and low pressure!
</p>
