<div class="jumbotron">
    <div class="container">
      <h1>Contact us</h1>
        <p>Here are our email links! Contact us here</p>
      <br>
        <p>Email: kwakeroatz@gmail.com</p>
        <p>Phone: 5088687164</p>
    </div>
</div>
